extensions:
	imageStore: Rostenkowski\ImageStore\Extension

application:
	scanDirs: false

imageStore:
	storageDir: %baseDir%/storage/images
	cacheDir:   %baseDir%/www/cache/images
	basePath:   /cache/images/
